<div class="container">
  <div class="events-header">
    <h1 class="title">Latest Events</h1>
    <div class="control">
      <div class="select is-primary">
        <select [(ngModel)]="category" (change)="onSelectCategory()">
          <option [ngValue]="null">All Categories</option>
          <option *ngFor="let cat of categories" [ngValue]="cat">{{cat}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="columns is-multiline">
    <div class="column is-one-quarter" *ngFor="let event of events">
      <app-event-list-item [event]="event"></app-event-list-item>
    </div>
    <div class="column" *ngIf="events && events.length == 0">
      <h1 class="title is-1 is-primary">No events found</h1>
    </div>
  </div>
</div>