<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item is-size-3">
        <span class="has-text-info">
          <i class="fab fa-angellist"></i>
        </span>
        <span>
          <span class="has-text-info has-text-weight-bold">SKY</span>ticket.pl
        </span>
      </a>
      <span class="navbar-burger burger" data-target="navbarMenuHeroA">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenuHeroA" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item">
          SEARCH EVENTS
        </a>
        <a class="navbar-item">
          CREATE EVENT
        </a>
        <span class="navbar-item">
          <a class="button is-info">
            <span class="icon">
              <i class="fas fa-user-alt"></i>
            </span>
            <span>SIGN IN</span>
          </a>
        </span>
      </div>
    </div>
  </div>
</nav>