<section class="hero is-medium">
  <div class="hero-body">
    <div class="box">
      <div class="field">
        <label class="label">Title</label>
        <div class="control">
          <input class="input" type="text" placeholder="Artist, name of event..." [(ngModel)]="event.title">
        </div>
      </div>

      <div class="field">
        <label class="label">Location</label>
        <div class="control">
          <input class="input" type="text" placeholder="Object name and city, country..." [(ngModel)]="event.location">
        </div>
      </div>

      <div class="field">
        <label class="label">Organizer</label>
        <div class="control">
          <input class="input" type="text" placeholder="Organizer of event..." [(ngModel)]="event.organizer">
        </div>
      </div>

      <div class="field">
        <label class="label">Event poster</label>
        <div class="control">
          <input class="input" type="url" placeholder="Link to image..." [(ngModel)]="event.image">
        </div>
      </div>

      <div class="field">
        <label class="label">Date</label>
        <div class="control">
          <input class="input" type="text" placeholder="yyyy/mm/dd" [(ngModel)]="dateObject" (ngModelChange)="onDateSelected($event)" ngbDatepicker
            #d="ngbDatepicker" (click)="d.toggle();$event.stopPropagation();" (document:click)="decideClosure($event, d)" [readOnly]="true">
        </div>
      </div>

      <div class="field">
        <label class="label">Category</label>
        <div class="control">
          <div class="select is-info">
            <select>
              <option>Music</option>
              <option>Arts</option>
              <option>Classes</option>
              <option>Sport</option>
              <option>Parties</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <textarea class="textarea" placeholder="Information about event and tickets..." [(ngModel)]="event.description"></textarea>
        </div>
      </div>


      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox"> I agree to the
            <a href="#">terms and conditions</a>
          </label>
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered">
        <div class="control">
          <button class="button is-link" (click)="onSubmitEvent()">Submit</button>
          <button class="button">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</section>