li {
  font-size: 20px;
  font-weight: bold;
}

button {
  margin-top: 30px;
  width: 100%;
}

.events {
  min-height: 500px;
}

.dropdown {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px; 
  button {
    font-size: 20px;
    font-weight: bold;
    color: #3273dc;
    margin: 0 auto;
  }
  &-menu {
    left: 50%;
    transform: translateX(-50%);
  }
}
