<div id="all-categories" class="tabs is-centered is-boxed">
  <ul>
    <li class="is-active">
      <a>
        <span>All categories</span>
      </a>
    </li>
    <li>
      <a>
        <span>Music</span>
      </a>
    </li>
    <li>
      <a>
        <span>Arts</span>
      </a>
    </li>
    <li>
      <a>
        <span>Sport</span>
      </a>
    </li>
    <li>
      <a>
        <span>Classes</span>
      </a>
    </li>
    <li>
      <a>
        <span>Parties</span>
      </a>
    </li>
  </ul>
</div>