<div class="container">
  <div class="tabs is-toggle">
    <ul>
      <li class="is-active">
        <a>
          <span class="icon is-medium">
            <i class="fas fa-image"></i>
          </span>
          <span>Parties</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-medium">
            <i class="fas fa-music"></i>
          </span>
          <span>Music</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-medium">
            <i class="fas fa-film"></i>
          </span>
          <span>Sport</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-medium">
            <i class="fas fa-file-alt"></i>
          </span>
          <span>Arts</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-medium">
            <i class="fas fa-file-alt"></i>
          </span>
          <span>Classes</span>
        </a>
      </li>
    </ul>
  </div>
</div>