<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img [src]="event.image" alt="Placeholder image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{event.title}}</strong> 
          <br><p>{{ event.date | date }}</p>
          <br>
           {{event.location}}
           <br>
          <span class="tag is-grey is-rounded">{{event.category}}</span>
        </p>
      </div>
      <nav class="level is-mobile">       
        <div class="level-left">
          <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
          </a>
          <br><div class="action">
            <a [href]="'/event/' + event.id" [routerLink]="['/event', event.id]" class="button is-info">Read more</a>
          </div>
        </div>
      </nav>
    </div>
  </article>
</div>