img {
    object-fit: cover;
}

.media {
    .title {
        min-height: 2em;
        line-height: 1;
    }
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}