img {
    object-fit: cover;
    transition: transform .5s;
}

img:hover {
    transform: scale(3.5);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.event {
    min-height: 100px;

    &-title {
        font-weight: bold;
    }
}

.box {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.box:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}