<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img [src]="event.image" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{event.title}}</p>
        <p class="subtitle is-6">
           {{ event.date | date }}
           <br>
          {{event.location}}
        </p>
      </div>
    </div>
    <div class="content">
      <div class="category">
        <span class="tag is-grey is-rounded">{{event.category}}</span>
      </div>
      <div class="action">
        <button class="button is-info">Read more</button>
      </div>
    </div>
  </div>
</div>