<div class="box">
  <div class="event-date">
    <span>{{event.date | date}}</span>
  </div>
  <article class="media event">
    <div class="media-left">
      <figure class="image is-64x64">
        <img [src]="event.poster || 'http://via.placeholder.com/260x325?text=No%20image'" alt="Placeholder image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <div class="title is-5 event-title">{{event.title}}</div>
        <div class="event-location">{{event.location}}</div>
      </div>
    </div>
  </article>
  <div class="event-category">

  </div>
  <nav class="level is-mobile">
    <span class="level-item" aria-label="time">
      <span class="tag is-grey is-rounded">{{calcTimeToEvent()}}</span>
    </span>
    <span class="level-item" aria-label="like">
      <span class="tag is-grey is-rounded">{{event.category}}</span>
    </span>
    <div class="action">
      <a [href]="'/event/' + event.id" [routerLink]="['/event', event.id]" class="button is-info is-small">Read more</a>
    </div>
  </nav>
</div>